# Node/Next.js (frontend)
node_modules/
.next/
.env
.env.local

# Dotnet (backend)
bin/
obj/
*.user
*.vs
*.db

# App settings secrets
appsettings.json
appsettings.Development.json
appsettings.Production.json

# MacOS
.DS_Store

# General
*.log
